<div class="splitcontentleft team">
  <% @users.each do |user| %>

  <h2 class="team"><%= link_to avatar(user, :size => "14") + h(user.name), user %></h2>

  <ul>
    <% unless user.pref.hide_mail %>
    <li><%=l(:field_mail)%>: <%= mail_to(h(user.mail), nil, :encode => 'javascript') %></li>
    <% end %>
    <% user.visible_custom_field_values.each do |custom_value| %>
    <% if !custom_value.value.blank? %>
    <li><%=h custom_value.custom_field.name%>: <%=h show_value(custom_value) %></li>
    <% end %>
    <% end %>
  </ul>

  <% end %>
</div>

<div class="splitcontentright">
  <%= textilizable Setting.plugin_redmine_team_page['wiki'] %>
</div>
